.table-hover tbody tr.selected {
  color: #44476a;
  background-color: rgba(38,40,51,.07);
}

.slider-wrapper {
  background-color: #d1d9e6;
  cursor: col-resize;
  position: relative;
  grid-area: sliderh;
}

.slider {
  position: absolute;
  width: 11px;
  height: 100%;
  left: -5px;
}

.slider-highlight {
  transition: 0.2s;
  position: absolute;
  width: 3px;
  height: 100%;
  left: -1px;
}

.slider:hover ~ .slider-highlight {
  background-color: #d1d9e6;
}

.slider-highlight:hover {
  background-color: #d1d9e6;
}
